body {
  background-image: url("../assets/images/background.png");
}
@font-face {
  font-family: "Star Jedi";
  src: url("../assets/font/Starjedi.ttf") format("truetype");
}

h1 {
  font-family: "Star Jedi", arial;
  -webkit-text-stroke: 1px #ffff55;
}
.character {
  /* width: 10px; */
  /* border: 1px solid red; */
  margin-bottom: 15px;
  height: 80%;
}
.custom-card {
  display: flex;
}

.main-container {
  height: 70vh;
}

.image-container {
  width: 40%;
  height: 100%;
  display: flex;
  border-right: 1px solid black;
}
.person-icon {
  display: inline-flex;
  align-self: flex-end;
  width: 100%;
  height: 70%;
  min-height: 20px;
  min-width: 20px;
}
.char-name {
  width: 60%;
  display: flex;
}
.char-name h3 {
  align-self: center;
  width: 100%;
  font-size: 0.8rem;
}

/* button {
  display: hidden;
} */
